! URxvt behaviour {{{
! Scroll {{{
URxvt.scrollstyle:              plain
URxvt.scrollBar:                true
URxvt.scrollBar_right:          true

URxvt.secondaryScroll:          false
URxvt.scrollTtyOutput:          false
URxvt.scrollWithBuffer:         true
URxvt.scrollTtyKeypress:        true
URxvt.saveLines:                10000
! }}}

! Extensions {{{
URxvt.perl-ext-common:          default,confirm-paste,eval,font-size,matcher,tabbedex

! Tabs (tabbed)
URxvt.tabbed.tabbar-fg:         2
URxvt.tabbed.tabbar-bg:         0
URxvt.tabbed.tab-fg:            0
URxvt.tabbed.tab-bg:            2
URxvt.tabbed.tabbedex-rs-prefix:%

! Tabbedex (https://github.com/mina86/urxvt-tabbedex)
URxvt.tabbedex.autohide:        false
URxvt.tabbedex.title:           false
URxvt.tabbedex.urgentOnBell:    true
URxvt.tabbedex.tabbar-fg:       2
URxvt.tabbedex.tabbar-bg:       0
URxvt.tabbedex.tab-fg:          0
URxvt.tabbedex.tab-bg:          2
URxvt.tabbedex.bell-fg:         0
URxvt.tabbedex.bell-bg:         2

! Clickable URLs (matcher)
URxvt.url-launcher:             /opt/firefox/firefox
URxvt.matcher.button:           2
URxvt.matcher.rend.0:           Uline Bold fg5
URxvt.keysym.C-Delete:          perl:matcher:select
URxvt.keysym.M-Delete:          perl:matcher:list
! }}}
! }}}

! URxvt colours {{{
! Gruvbox Dark {{{
! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background:  #1D2021
URxvt.background:               #282828
! soft contrast: *background:  #32302F
URxvt.foreground:               #EBDBB2
! Black + DarkGrey
URxvt.color0:                   #282828
URxvt.color8:                   #928374
! DarkRed + Red
URxvt.color1:                   #CC241D
URxvt.color9:                   #FB4934
! DarkGreen + Green
URxvt.color2:                   #98971A
URxvt.color10:                  #B8BB26
! DarkYellow + Yellow
URxvt.color3:                   #D79921
URxvt.color11:                  #FABD2F
! DarkBlue + Blue
URxvt.color4:                   #458588
URxvt.color12:                  #83A598
! DarkMagenta + Magenta
URxvt.color5:                   #B16286
URxvt.color13:                  #D3869B
! DarkCyan + Cyan
URxvt.color6:                   #689D6A
URxvt.color14:                  #8EC07C
! LightGrey + White
URxvt.color7:                   #A89984
URxvt.color15:                  #EBDBB2
! }}}
! }}}

! Font configuration {{{
Xft.autohint:                   0
Xft.lcdfilter:                  lcddefault
Xft.hintstyle:                  hintmedium
Xft.hinting:                    1
Xft.antialias:                  1
Xft.rgba:                       rgb

! Fira Mono
URxvt.font:                     xft:Fira Mono:size=11
URxvt.letterSpace:              -1
URxvt.lineSpace:                0

URxvt.skipBuiltinGlyphs:        false
! }}}

! Visuals {{{
URxvt.depth:                    32
URxvt.urgentOnBell:             true
! Transparent background
URxvt.background:               [80]black
URxvt.fading:                   25

URxvt.internalBorder:           5
URxvt.externalBorder:           0

URxvt.scrollColor:              [75]#008080
! }}}
